<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>
    <logger name="org.springframework" level="TRACE"/>
    <!--<logger name="org.springframework.web" level="TRACE"/>-->
    <!--<logger name="org.springframework.beans" level="TRACE"/>-->

    <logger name="com.sap.sme.anw" level="TRACE"/>
</configuration>